/* feedback boxes */
.feedback {
    padding: 30px;
    margin-bottom: 10px;
}
.feedback.success {
    color: #558f2d;
    background-color: #ddf2c0;
}
.feedback.error {
    color: #ff7272;
    background-color: #ffe5e5;
}
.feedback.info {
    color: #00529B;
    background-color: #BDE5F8;
}

.header_right_box {
    float: right;
}

/* error page */
.red-text {
    color: red;
}

.timeclock{
  max-width: 1000px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

p, h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif;
}

.timeclock .button-half{
  display: block;
  padding: 50px 0px;
  background: #f8f8f8;
  text-align: center;
  width: 48%;
  float: left;
  margin: 1%;
  font-size: 30px;
}

.timeclock .button-full{
  display: block;
  padding: 50px 0px;
  background: #f8f8f8;
  text-align: center;
  width: 98%;
  float: left;
  margin: 1%;
  font-size: 20px;
}

.timeclock table{
  width: 100%;
}

.timeclock thead tr{
  height: 50px;
  background: #fff;
}

.timeclock tbody tr{
  height: 50px;
  background: #f8f8f8;
}

.header-right{
  float: right;
}

.portlet-subtitle{
    min-height: 58px;
    margin-bottom: 10px;
}